// Font COLORS
$color-font-header: #dadada;
$color-font-text: #818181;
$color-font-nav: #393e46;

// shadow COLORS
$color-font-shadow-1: #393e46;

// Background COLORS
$main-background: #222831;
$second-background: #d65a31;
$third-background: white;

//FONT SIZE
$header-main-fontsize: 6rem;
$header-section-fontsize: 4rem;

// Margin
$margin-small: 2rem;
$margin-smedium: 4rem;
$margin-large: 6rem;
