.bg-0 {
  background-image: url('../img/img_0.jpg');
}

.bg-1 {
  background-image: url('../img/img_1.jpg');
}

.bg-2 {
  background-image: url('../img/img_4.jpg');
}

.bg-3 {
  background-image: url('../img/img_3.jpg');
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 60vh;
  width: 100%;
  color: white;
  text-align: center;
  display: table;

  @include respond(tab-port){
       height: 50vh;
  }

  @include respond(phone){
       height: 40vh;
  }
}

.scroll-bg {
  background-color: $main-background;
  padding: 7rem 30rem;
  text-align: justify;
  color: #676767;

  @include respond(medium-desktop){
       padding: 4.5rem 25rem;
  }

  @include respond(tab-land){
       padding: 4rem 20rem;
  }

  @include respond(tab-port){
       padding: 4rem 15rem;
  }

  @include respond(phone){
       padding: 4rem 8rem;
  }
}
