.bg-1 {
  background-image: url('../img/img_1.jpg');
}

.bg-2 {
  background-image: url('../img/img_2.jpg');
}

.bg-3 {
  background-image: url('../img/img_3.jpg');
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  top;
  height: 60vh;
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

.scroll-bg {
  background-color: $main-background;
  padding: 5rem 30rem;
  text-align: justify;
  color: #676767;
}
