.main {
    height: 100%;
    &_section{
        position: relative;
    }
}

.heading-second{
    color: $color-font-header;
    font-size: $header-section-fontsize;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: $margin-large;
}

.paragraph {
    line-height: 3.5rem;
    color: $color-font-text;
}
