
.heading-second{
    color: $color-font-header;
    font-size: $header-section-fontsize;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: $margin-medium;
}

.paragraph {
    line-height: 3.5rem;
    color: $color-font-text;
}
