.gallery {
    position: relative;
    width: auto;
    height: auto;

    &_wrap-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-items: start;
        align-items: center;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;

        @include respond(tab-port){
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);   
        }
    }

    .par-hidden {
       @include respond(tab-port){
           display:none;
       }
    }


    .grid-1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .grid-3{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-4{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-5{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-6{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-7{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-8{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-9{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-10{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

// hexagonal gallery img container

.hex {
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
        width: 20rem;
        height: 20rem;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

        img {
            width: 20rem;
            height: 20rem;
            transition: all 0.35s ease-in-out;

            @include respond(tab-land){
                width: 20rem;
                height: 20rem;;
            }
        }

        &_overlay {
            @include absCenetr()
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 1s ease-in-out;
            background-color: rgba(57, 62, 70, 0.5);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

            @include respond(tab-land){
                opacity: 1;
            }

            &_text {
                color: white;
                font-weight: 400;
                font-size: 3rem;
                @include absCenetr()
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;

                @include respond(tab-land){
                    font-size: 2rem;
                }
        }
    }
}
@include respond(no-hover){
    .hex:hover img {
        transform: scale(1.2);
    }
}

@include respond(no-hover){
    .hex_overlay:hover {
        opacity: 1;
        }
    }


.mywork-heading {
    display:flex;
    justify-content: space-between;


}

.git {

    &_icon {
        width: 10rem;
        height: 10rem;
        transition: .6s cubic-bezier(.67,.11,.25,.91);
        &:hover{
            transform:scale(1.15);
        }
    }

    @include respond(no-hover){
        &_icon:hover {
            transform:scale(1.15);
        }
    }
}
