.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(54, 54, 54, 0.1)),url("../img/img_2.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 90vh;
    position: relative;
    z-index: 2;


    @include respond(medium-desktop){
        height: 80vh;
    }

    @include respond(medium-desktop){
        height: 75vh;
    }

    @include respond(tab-land){
        height: 60vh;
    }

    @include respond(tab-port){
        height: 55vh;
    }

    @include respond(phone){
        height: 45vh;
    }



    &_container {
        height: auto;
        width: auto;
        @include absCenetr();
        text-align: center;
    }
}

.heading-prime {
    color: $color-font-header;
    font-size: $header-main-fontsize;
    text-shadow: 3px 3px $color-font-shadow-1;

    @include respond(tab-land){
        font-size: 5rem;
    }

    @include respond(tab-port){
        font-size: 3.5rem;
    }

    @include respond(phone){
        font-size: 3rem;
    }


}
