.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(54, 54, 54, 0.1)),url("../img/img_2.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 85vh;
    position: relative;
    z-index: 2;

    &_container {
        height: auto;
        width: 100%;
        @include absCenetr();
        text-align: center;
    }
}

.heading-prime {
    color: $color-font-header;
    font-size: $header-main-fontsize;
    text-shadow: 3px 3px $color-font-shadow-1;
    width:100%;
    display: inline-block;

    @include respond(tab-land){
        font-size: 5rem;
    }

    @include respond(tab-port){
        font-size: 3.5rem;
    }


}
