@import "../base/variables";
@import "../base/mixins";

.navigation{
    position:absolute;
    display:block;
    background-color: $second-background;
    width:auto;
    height: auto;
    padding:2rem 3rem;
    z-index: 20;
    bottom: 12%;
    // right: 15rem;


    &_list{
        display: flex;
        justify-content: center;
        align-items: center;

            a {
                text-decoration: none;
                font-size: 2rem;
                color: $color-font-nav;
                margin-right: 2rem;
                border-right: solid 1px  $color-font-nav;
                padding-right: 2rem;
            }

            a:last-child {
                margin-right: 0;
                border-right: none;
                padding-right: 0;
            }

            a:hover {
                font-weight: 600;
                transition:  .3s;
                color:$color-font-header;

                @include respond(tab-port){
                    hover: none;
                }
            }
    }
}
