
.scrollBtn {
    background-color:$second-background;
    bottom: 10rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    content:'';
    cursor: pointer;
    display: none;
    height: 5rem;
    right: 10rem;
    position: fixed;
    width: 5rem;
    transition: 0.5s;

    @include respond(tab-port){
         right: 6rem;
    }

    @include respond(phone){
         right: 3rem;
    }

    @include respond(no-hover){
        &:hover {
        background-color:$second-background;
        }
    }

}
