
.scrollBtn {
    background-color:$third-background;
    bottom: 10rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    content:'';
    cursor: pointer;
    display: none;
    height: 5rem;
    right: 10rem;
    position: fixed;
    width: 5rem;
    transition: 0.5s;

    &:hover {
        background-color:$second-background;
    }
}
